* {
  margin : 0;
  padding : 0;
  box-sizing: border-box;
}

.cardHighlight {
  min-height: 100%;
}


body {
  background: url(https://i.pinimg.com/originals/61/8c/40/618c404556f14697deb3d993298f9eb8.jpg);

}

.banner-text {
  font-size: 15px;
}

/* https://i.pinimg.com/originals/61/8c/40/618c404556f14697deb3d993298f9eb8.jpg */
/*className="d-flex align-items-center justify-content-center"*/